OBJECT_STORAGE_ENDPOINT=http://projectai-minio:9000
OBJECT_STORAGE_REGION=us-east-1
OBJECT_STORAGE_BUCKET=projectai-production-files
OBJECT_STORAGE_ACCESS_KEY=REPLACE_IN_B3_C2B
OBJECT_STORAGE_SECRET_KEY=REPLACE_IN_B3_C2B
OBJECT_STORAGE_FORCE_PATH_STYLE=true
OBJECT_STORAGE_USE_SSL=false
